
/*3 ultimos H */

.has-text-align-center {
  text-align: center;
}
.has-text-align-right {
  text-align: right;
}
.has-text-align-left {
  text-align: left;
}


/* Duas fotosd com texto */
.wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  padding: 80px 72px;
}

.wp-block-columns {
  gap: 80px;
}

.wp-block-image > img {
  object-fit: cover;
  width: 488px;
  height: 380px;
  border-radius: 16px;
} 


/* texto h3 plus p "Easy Step to buy */
.wp-container-11 {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px;
  max-width: 1280px;
}

/* 1234 view listing*/

.wp-container-16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 1280px;
}

.is-layout-flow .size-full > img {
  object-fit: cover;
  width: 56px;
  height: 56px;
}

/* button see our FAQ*/

.wp-container-20 {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}